@import 'General.scss';

#secao__Fila {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    gap: 16px;

    width: 100%;
    height: 100vh;

    text-align: center;

    ul {
        .nome_usuario {
            color: $corPrincipal;
        }
    }
}

#listas {
    display: flex;
    justify-content: center;
    gap: 12px;

    position: relative;
    
    width: 88%;

    h2 {
        position: relative;
        font-size: 3.3em;
        margin: 20px 0;

        &::after {
            content: '';

            display: block;
            position: relative;
            top: 8px;

            width: 100%;
            height: 2px;

            background-color: rgb(184, 184, 184);
        }
    }

    .nome_pacientes /* (lista dos pacientes) */ {
        list-style-type: none;
    
        li {
            transition: 300ms;
    
            font-weight: 500;
            font-size: 2.5em;
            
            &:nth-child(1) {
                font-size: 2.9em;
            }
        }
    }

    .pacientes_passados {
        list-style-type: none;
        
        font-size: 1.8em;

        position: absolute;
        right: 16px;

        top: 18px;

        h2 {
            font-size: 1.1em;
        }
    }
}