@import 'General.scss';

#secao__Principal {
    @include secao;

    position: relative;

    width: 100%;
    height: auto;

    #principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        text-align: center;

        position: relative;

        width: 100.9vw;
        height: 620px;

        h2 {
            font-size: 2.6em;
        }

        span {
            font-size: 1.4em;
            color: $corPrincipal;
        }

        .botoes {
            display: flex;
            width: 300px;
            justify-content: space-between;
            position: relative;
            top: 20px;

            a {
                transition: 300ms;
                border: 2px solid $corPrincipal;
                background-color: $corPrincipal;
                padding: 4px 16px;
                border-radius: 12px;
                font-weight: bold;
                color: white;

                &:hover {
                    border-radius: 20px;
                    background-color: $corPrincipalHover;
                }
            }
        }

        &::after {
            @include linhaDecorativa;
        }
    }

    #paciente, #atendente {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 550px;
        padding: 6px 55px;

        .img {
            position: relative;
            width: 30%;
            height: 90%;

            img {
                width: 100%;
                height: 100%;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;

                right: 8px;
                bottom: 8px;

                z-index: -1;

                width: 100%;
                height: 100%;

                background-color: $corPrincipalSuave;
            }
        }

        .texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            height: 100%;
            padding-top: 20px;
            
            h2 {
                font-size: 2.1em;
                text-align: right;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 6px;
                font-size: 1.3em;
            }
        }

        &::after {
            @include linhaDecorativa;
        }
    }

    #atendente {
        flex-direction: row-reverse;
        margin-bottom: 25px;

        .img {
            &::before {
                left: 8px;
            }
        }

        .texto {
            h2 {
                text-align: left;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: $corPrincipal;
    color: white;

    .lateral_esquerda {
        width: 20%;
        height: 80%;
        border-right: 1px solid rgb(109, 2, 209);
        text-align: center;

        h2 {
            position: relative;
            top: 40%;
            font-size: 2.2em;
        }
    }

    .tm {
        position: absolute;
        bottom: 25px;
        right: 25px;
        color: rgb(131, 41, 215);
    }
}

@media (max-width: 1128px) {
    #secao__Principal {
    
        #principal {
    
            h2 {

            }
    
            span {

            }
    
            .botoes {
    
                a {
    
                    &:hover {

                    }
                }
            }
    
            &::after {
            }
        }
    
        #paciente, #atendente {
            flex-direction: column;
    
            .img {
    
                img {

                }
    
                &::before {

                }
            }
    
            .texto {

            }
    
            &::after {

            }
        }
    
        #atendente {

        }
    }
}

@media (max-width: 760px) {
    #secao__Principal {
    
        #principal {
    
            h2 {

            }
    
            span {

            }
    
            .botoes {
    
                a {
    
                    &:hover {

                    }
                }
            }
    
            &::after {
            }
        }
    
        #paciente, #atendente {
            width: 100%;
            height: 950px;
            margin: 16px 0;

            .img {
                width: 100%;

                img {
                    
                }
    
                &::before {
                    left: 0;
                }
            }
    
            .texto {
                width: 100%;
                font-size: 0.8em;
            }
    
            &::after {

            }
        }
    
        #atendente {
            
        }
    }
}

@media (max-width: 412px) {
    #secao__Principal {
    
        #principal {
    
            h2 {

            }
    
            span {

            }
    
            .botoes {
    
                a {
    
                    &:hover {

                    }
                }
            }
    
            &::after {
            }
        }
    
        #paciente, #atendente {
            height: 930px;

            .img {
                img {
                    
                }
    
                &::before {

                }
            }
    
            .texto {

            }
    
            &::after {

            }
        }
    
        #atendente {
            
        }
    }
}