@import 'General.scss';
@import 'Fila.scss';

#secao__Atendente {
    @include secao;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    #visualizacao_fila, #visualizacao_pacientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 50%;
        height: 100%;

    }

    #visualizacao_fila {
        justify-content: center;
        gap: 36px;

        border-right: 1px solid rgb(220, 220, 220);

        h2 {
            font-size: 2.2em;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgb(193, 193, 193);
            }
        }

        .nome_pacientes {
            text-align: center;
            list-style-type: none;
            position: relative;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                font-size: 1.8em;
                margin-bottom: 8px;
                position: relative;

                cursor: default;

                &:nth-child(1) {
                    font-size: 2.6em;
                }

                &:hover button {
                    display: flex;
                }
            }

            button {
                @include botao;

                transition: 200ms;
                display: none;

                width: 10%;
                padding: 5px 10.4px;

                position: relative;
                top: 2px;

                border-radius: 4px;

                font-size: .4em;
            }
        }

        .caixa__Botoes {
            display: flex;
            gap: 12px;

            button {
                @include botao;
                border-radius: 6px;
            }
        }
    }

    #visualizacao_pacientes {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
}

.tabela_consultas {
    font-size: 1.1em;
    padding: 4px;

    thead {
        background-color: rgb(235, 235, 235);
        color: rgb(32, 32, 32);

        tr {
            th {
                padding: 0 26px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 2px 0;
                text-align: center;

                button {
                    background-color: $corPrincipal;
                    border: none;
                    color: white;

                    padding: 6px;
                    cursor: pointer;
                }

                .desabilitado {
                    background-color: $corBotaoDesabilitado;
                    cursor: not-allowed;
                }
            }
        }
    }
}