@import 'General.scss';
@import 'Fila.scss';

#secao__Atendente {
    @include secao;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    #visualizacao_fila, #visualizacao_pacientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 50%;
        height: 100%;
    }

    #visualizacao_fila {
        justify-content: center;
        gap: 16px;

        border-right: 1px solid rgb(220, 220, 220);

/*         &::after {
            content: '';
            display: block;
            height: 50px;
            width: 1px;
            color: gray;
        } */
    }

    #visualizacao_pacientes {

    }
}

.tabela_consultas {
    font-size: 1.1em;
    padding: 4px;

    thead {
        background-color: rgb(235, 235, 235);
        color: rgb(32, 32, 32);

        tr {
            th {
                padding: 0 26px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 2px 0;
                text-align: center;

                button {
                    background-color: $corPrincipal;
                    border: none;
                    color: white;

                    padding: 6px;
                    cursor: pointer;
                }
            }
        }
    }
}